<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reinitas Stock</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='reinitas.jpg') }}">
</head>
<body>
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <nav class="side-menu">
  <ul>
    <!-- Inicio -->
    <li>
      <label for="menu-toggle">
        <a href="/">Inicio</a>
      </label>
    </li>

    <!-- TELA -->
    <li class="submenu">
      <input type="checkbox" id="submenu-tela">
      <label for="submenu-tela" class="menu-link"><span>Tela</span></label>
      
      <ul class="subnav">
        <!-- STOCK LOCAL DE TELA -->
        <li class="nested-submenu">
          <input type="checkbox" id="stock-local-tela">
          <label for="stock-local-tela" class="menu-link"><span>Stock Local</span></label>
          
          <ul class="subsubnav">
            <li><a href="/tela/local/consultar-stock">Consultar stock</a></li>
          </ul>
        </li>

        <!-- STOCK TALLER DE TELA -->
        <li class="nested-submenu">
          <input type="checkbox" id="stock-taller-tela">
          <label for="stock-taller-tela" class="menu-link"><span>Stock Taller</span></label>
          
          <ul class="subsubnav">
            <li><a href="/tela/taller/agregar-producto">Agregar producto</a></li>
            <li><a href="/tela/taller/agregar-seccion">Agregar sección</a></li>
            <li><a href="/tela/taller/consultar-stock">Consultar stock</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- MADERA -->
    <li class="submenu">
      <input type="checkbox" id="submenu-madera">
      <label for="submenu-madera" class="menu-link"><span>Madera</span></label>
      <ul class="subnav">
        <!-- STOCK LOCAL DE MADERA -->
        <li class="nested-submenu">
          <input type="checkbox" id="stock-local-madera">
          <label for="stock-local-madera" class="menu-link"><span>Stock Local</span></label>
          
          <ul class="subsubnav">
            <li><a href="/madera/local/consultar-stock">Consultar stock</a></li>
          </ul>
        </li>

        <!-- STOCK TALLER DE MADERA -->
        <li class="nested-submenu">
          <input type="checkbox" id="stock-taller-madera">
          <label for="stock-taller-madera" class="menu-link"><span>Stock Taller</span></label>
          
          <ul class="subsubnav">
            <li><a href="/madera/taller/agregar-producto">Agregar producto</a></li>
            <li><a href="/madera/taller/agregar-seccion">Agregar sección</a></li>
            <li><a href="/madera/taller/consultar-stock">Consultar stock</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>

  <div class="content">
    <img src="{{ url_for('static', filename='reinitas.jpg') }}" alt="Reinitas Logo" class="logo">
  </div>
</body>
</html>


